.first-screen {
    position: relative;
    background-color: var(--main-color);
    color: var(--white-color);
    font-weight: 500;
    border-bottom: var(--border-primary);

    &::after {
        content: '';
        background-color: rgba(0, 0, 0, 0.2);
        height: auto;
        inset: 0;
        position: absolute;
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 5;
        padding: 195px 4px;
    }

    &__title {
        max-width: 685px;
        font-size: 36px;
        text-transform: uppercase;
    }
    
    p {
        max-width: 600px;
        margin: 8px 0 24px;
    }

    @media (min-width: 768px) {
        &__content {
            padding: 313px 32px 186px;
        }
    
        &__title {
            font-size: 80px;
        }

        p {
            margin: 24px 0 40px;
            font-size: 24px;
        }
    }
}