  @font-face {
    font-family: 'Helvetica-Neue-Ultra-Light', sans-serif;
    src: url('./fonts/HelveticaNeueUltraLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Helvetica-Neue-Ultra-Light', sans-serif;
    src: url('./fonts/HelveticaNeueUltraLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica-Neue-Medium', sans-serif;
    src: url('./fonts/HelveticaNeueMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica-Neue-Medium', sans-serif;
    src: url('./fonts/HelveticaNeueMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  html{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after{
    box-sizing: inherit;
  }
  
  a{
    color: inherit;
    text-decoration: none;
  }
  
  li{
    list-style: none;
  }
  
  img{
    max-width: 100%;
  }
  
  button {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
    text-align: center;
  }
  
  body {
    font-family: 'Helvetica-Neue-Ultra-Light', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: var(--main-color);
    background-color: var(--background-color);
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 12px;
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 100%;
        background-color: hsla(40, 17%, 77%, 1);
        top: 0;
    }

    &::before {
        left: 12px;
    }

    &::after {
        right: 12px;
    }

    &_header {
      &::before,
      &::after {
        content: none;
      }
    }
  }
  
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(100%); 
    height: 1px; 
    overflow: hidden; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px; 
  }

  .link {
    transition: color .15s ease-in-out;

    &:hover,
    &:focus-visible {
      color: var(--accent-secondary-color);
    }
  }

  .ta-center {
    text-align: center;
  } 

  .whs-nowrap {
    white-space: nowrap;
  }

  .whs-nowrap\@md {
    @media (min-width: 768px) {
      white-space: nowrap;
    }
  }

  .error-message {
    font-size: 14px;
    color: var(--accent-quaternary-color);
    padding-left: 15px;
  }